html {
    overflow: hidden; 
}

#artist-panel {
    position: absolute; 
    width: 40vw; 
    height: 100vh; 
    top: 0px; 
    left: 0px; 
    padding: 0px 0px; 
    background-color: #929292;
    z-index: -1; 
}

#artist-panel h1 {
    padding: 10px 10px; 
    font-style: italic;
}

#artist-panel p {
    padding: 10px 10px; 

}

#content-panel {
    position: absolute; 
    width: 60vw; 
    height: 100vh; 
    top: 0px; 
    left: 40vw; 
    background-color: #e6e6e6;
    padding: 10px 10px; 
    z-index: -2;
    
    transform: translateY(-100%);

}

#painting-image {
    position: absolute; 
    width: 45%; 
    height: 40%; 
    right: 10.5%; 
    top: 30%; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 2px solid black; */
    /* background- */
    
}

#content-info h1 {
    position: absolute; 
    width: 40%; 
    height: 12%;
    right: 55.5%; 
    top: calc(12% * var(--pos) + 33%); 
    text-align: right;
    padding-right: 10px;
    font-size: 3vmin;
}

#exit-button {
    position: absolute; 
    top: -3vmin; 
    left: 1vmin; 
    width: 3vmin; 
    height: 3vmin; 
    background-image: url('/images/arrow-back.png'); 
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    border-radius: 0.5vmax; 
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}

#exit-button:hover {
    transform: scale(1.1); 
}

#selector-panel {
    position: absolute; 
    bottom: 0px; 
    left: 0px; 
    width: 100vw; 
    height: 15vh; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    transform: translateY(100%); 
}

#artist-selector-panel {
    position: absolute; 
    top: 2vh; 
    right: 3vw; 
    width: 30vw; 
    height: 20vh; 
    display: flex; 
    align-items: center;
    flex-direction: row;
    gap: 3vmin;

}

.artist-selector-item {
    flex: 1 1 0; 
    aspect-ratio: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f0f0f0;
    /* font-size: 2vmin; */
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}

.artist-selector-item p {
    flex: 1 1 0; 
    width: 70%;
    text-align: center;
    font-size: 2vmin;
}

.artist-selector-item:hover {
    transform: scale(1.1); 
}

.selector-item {
    flex: 1 1 0; 
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    transition: all 0.4s ease; 
}

.selector-item p {
    width: 70%;
    text-align: center;
}

.selector-item:hover {
    transform: translateY(-10%) scale(0.95);
    background-color: #c7c7c7;
}

.selector-panel-active {
    transform: translateX(0%); 
    animation: selectorPanelToggle 0.6s ease forwards; 
}

.selector-panel-inactive {
    transform: translateX(100%); 
    animation: selectorPanelToggle 0.6s ease reverse forwards; 
}

.content-panel-active {
    transform: translateX(0%);
    animation: contentPanelToggle 0.6s ease forwards; 
}

.content-panel-inactive {
    transform: translateX(100%);
    animation: contentPanelToggle 0.6s ease forwards reverse; 
}

.exit-button-active {
    animation: exitButtonToggle 0.6s ease forwards; 

}

.exit-button-inactive {
    animation: exitButtonToggle 0.6s ease reverse forwards; 
    
}

.drop-shadow {
    filter: drop-shadow(-4px 2px 20px #24242460);
}

.drop-shadow-small {
    filter: drop-shadow(-4px 2px 10px #24242460);
}

@keyframes selectorPanelToggle {
    from {
        transform: translateY(100%); 
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes contentPanelToggle {
    from {
        transform: translateY(100%); 
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes exitButtonToggle {
    from {
        top: -3vmin; 
    }

    to {
        top: 1vmin; 
    }
}